.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f0f2f5;

  .login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  input {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }

  button {
    width: 107%;
    padding: 10px;
    background: #3498db;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}
