.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 13%;
    gap: 2%;
    .add-ticket {
      width: 35%;
      height: 55px;
      background-color: rgb(4, 36, 243);
      font-size: 16px;
      margin-left: 5%;
       padding: 10px 14px;
    margin-bottom: 20px;
    color:#fff;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}
